/* Global CSS */
/* General Font: Bangers : usage: font-family: 'Bangers', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Bangers", cursive;
  font-weight: 400;
  color: var(--black);
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/***** Colours *****/
/* All colours can be used using var(--colourYouWant) :) */
:root {
  --white: #ffffff;
  --blue: #00acc1;
  --yellow: #ffb300; /*also secondary text*/
  --black: #000000;
  --gray: #bebcbc;
}

/***** Fonts *****/
h1 {
  font-size: 56px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

/********* Buttons *******/

.yellowBtn {
  width: 200px;
  height: 80px;
  background-color: var(--yellow);
  color: var(--white);
  font-size: 56px;
  font-family: "Bangers", cursive;
  border: none;
  border-radius: 22px;
}

.blueBtn {
  width: 200px;
  height: 80px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 56px;
  font-family: "Bangers", cursive;
  border: none;
  border-radius: 22px;
}

.circleBtn {
  width: 500px;
  height: 500px;
  border: none;
  border-radius: 50%;
}

/***** HomePage *******/

.circlesWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  height: 70vh;
}

#blueCircleBtn {
  margin-left: -20%;
}

/*** General CSS ***/

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* Navbar Area */

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1%;
  border: 2px solid rgb(33, 108, 13);
  height: 20vh;
}

.userButtonArea {
  width: 25%;
  border: 2px solid rgb(167, 97, 22);
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.signUpBtn {
  margin-right: 2%;
}

/****** Content Area ******/

.contentArea {
  display: flex;
  flex: 1 0 auto;
  height: 70vh;
  border: 2px solid rgba(138, 9, 86, 0.66);
  align-items: center;
  justify-content: center;
}

/****** Footer Area ******/

.footerArea {
  background-color: var(--blue);
  flex-shrink: 0;
  height: 10vh;
  display: flex;
  align-items: center;
}

.footerLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.footerLinks > a {
  display: block;
  color: var(--white);
  text-decoration: none;
  font-size: 40px;
}
